export PROD=true

export PG_USER__PROD="< FILL ME IN >"
export PG_PASSWORD__PROD="< FILL ME IN >"
export PG_HOST__PROD="host.docker.interna"< FILL ME IN >"
export PG_DB__PROD="< FILL ME IN >"
export PG_PORT__PROD="< FILL ME IN >"