export PROD=true

export DBT_PG_USER__PROD="< FILL ME IN >"
export DBT_PG_PASSWORD__PROD="< FILL ME IN >"
export DBT_PG_HOST__PROD="host.docker.interna"< FILL ME IN >"
export DBT_PG_DB__PROD="< FILL ME IN >"
export DBT_PG_PORT__PROD="< FILL ME IN >"