[citi_bike_dev.destination.postgres.credentials]
database = "nyc"
username = "bikes"
password = "dev"
host = "localhost"
port = 5432
connect_timeout = 90

[citi_bike_prod.destination.postgres.credentials]
database = "${DBT_PG_DB__PROD}"
username = "${DBT_PG_USER__PROD}"
password = "${DBT_PG_PASSWORD__PROD}"
host = "${DBT_PG_HOST__PROD}"
port = 5432
connect_timeout = 90