[citi_bike_dev.destination.postgres.credentials]
database = "nyc"
username = "bikes"
password = "<FILL THIS IN>"
host = "localhost"
port = 5432
connect_timeout = 90

[citi_bike_prod.destination.postgres.credentials]
database = "nyc"
username = "bikes"
password = "<FILL THIS IN>"
host = "host.docker.internal"
port = 5432
connect_timeout = 90